body{
    color: brown;
}
h2 {
    background-color: #607d8b;
    color: #ffffff;
  }

.text {
    font-size: 16px;
}

.title {
    font-size: 65px;
    background: deepskyblue;
}

p.images a>img
    {
       margin-top:20px;
    }

img.resize {
  width:400px;
  height:200px;
} 